@import url('https://fonts.googleapis.com/css?family=Merriweather');

html,body{
    /* empêche qu'il y ait des espaces blancs sans contenu ou contenant */
    height:100%;
}

body {
    /* style général du site, qui s'applique par défaut à tous les composants, sauf override */
   
    /* couleur du texte noire atténuée pour éviter trop de contraste */
    color : rgb(40, 42, 54);
     /* police à déterminer, choisir sans-serif = arial sur chrome pour éviter times new roman*/
    font-family : sans-serif; 
   
}
img{
    margin: 20px 0px 0px 0px;
    height: 120px;
}


p,ul,li{
     /* style du corps du texte */

    font-size: 18px;
    line-height: 1.5;
    font-family : Merriweather; 
}

ul{
    margin:24px 0px;
}
li{
    margin:4px 0px;

}

.wrapper{
    /* centrage au milieu de la page */
    margin: 0 auto;
    /* empêche une largeur exagérée */
    max-width: 900px;
     /* marge intérieure */
    padding: 0 20px;



     /* repère visuel (DEBUG ONLY)
    border: 1px solid black;  */
    
}

header{
    text-align: center; 
}

.credit{
    
    font-style:italic;
    color:rgb(163, 163, 158);

}

footer{
    margin-bottom:60px;
}


@media only screen and (min-width: 900px) {
    header{
        text-align: left;
        
    }
 
   }

/* style optionnel pour les liens
a{
    /* enlever le soulignage */
    text-decoration:none; 
    /* enlever la couleur bleue */
    color:inherit;
}

a:hover{
    /* rétablir le soulignage au hover */
    text-decoration:underline;
} 
*/







