 /* obtenir la police directement depuis le fichier CSS */
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html{
    /* empêche qu'il y ait des espaces blancs sans contenu ou contenant */
    height:100%;
}

body {
   
    /* éliminer la marge de 8px par défaut, pour ne pas avoir à la prendre en compte dans les calculs*/
    margin:0px;

      
    /* style général du site, qui s'applique par défaut à tous les composants, sauf override */

    /* couleur du texte noire atténuée pour éviter trop de contraste */
    color : rgb(40, 42, 54);
     /* police à déterminer, on peut choisir sans-serif pour obtenir arial sur chrome et pour éviter times new roman*/
    font-family : sans-serif; 
   
}


p,ul,li{
    /* style du corps du texte */

     /* police de corps du text au choix */
     font-family : Merriweather,serif; 

     /* 18px car 16px peut être déterminé comme légèrement trop petit */
     font-size: 18px;

    /* espace vertical entre chaque ligne doit être augmenté, sinon trop sérré */
    /* cela dépend de la police utilisée et peut aller de 1.5 à 2 */
    line-height: 1.7;
   
}

pre{
    /* style du texte préformaté, en particulier le code */
     /* par défaut, le texte ne va pas retourner à la ligne, puisque par définition, on veut garder le formattage */
    /* plus petit que le corps de texte normal */
    font-size: 14px;
    /* une scrollbar apparaît uniquement lorsque c'est nécessaire */
        overflow: auto;
    /* empêche le mot d'être coupé en deux (contrairement à break-word) */
        overflow-wrap: normal;
     /* empêche les espaces d'êtres supprimés (nécessaire pour la tabulation avec espace) */
        white-space: pre;
    
}

h3{
     /* si le corps est aggrandi, il faut que les titres soit également aggrandis */
    font-size: 25px;
}



p{  
    /* l'espacement vertical par défaut des paragraphes n'est pas assez grand. Il faut davantage d'espace*/
    margin:26px 0px;

}
ul{
    /* la liste doit être davantage espacée/isolée par rapport aux paragraphes*/
    margin:24px 0px;
    /* la liste ne doit pas être trop décalée sur la droite sinon elle gâche de l'espace horizontal sur mobile. Par défaut est 40px*/
    padding-left: 20px;
}
 
li{
    /* Chaque puce doit être davantage espacée de ses puces voisines*/
    margin:4px 0px;
}

.wrapper{
    
    /* délimitation du contenu dans une zone centrale de la page, afin que tout le contenu ne soit pas seulement d'un côté */
    margin: 28px auto 40px auto;
    /* empêche une largeur exagérée du contenu*/
    max-width: 900px;
     /* marge intérieure pour quel le contenu ne colle pas aux bords lorsqu'on est en mobile */
    padding: 0 20px;



     /* repère visuel (DEBUG ONLY)
    border: 1px solid black;  */
    
}

header{
     /* le header peut être optionnellement centré */
     /* décider si le logo va être centré également ou non */
     /* décider si le centrage est pour toutes les tailles ou seulement pour l'affichage mobile */
    text-align: center; 
}

.credit{
     /* le crédit (nom de l'auteur et date) peuvent être mis en italique et dans une couleur moins contrastée */
    font-style:italic;
    color:rgb(163, 163, 158);

}

footer{
/* éventuellement renommer en copyright */

/* repousser le footer pour qu'il ne soit pas collé */
margin-top:20px;

/* sur safari, laisser un peu de blanc après le footer necessite le trick suivant, pour contre les margin collapse */
display: inline-block;
margin-bottom: 20px;

}




/* réglages reservés aux grands écrans */
@media only screen and (min-width: 900px) {
    header{
        /* le centrage est moins nécessaire lorsque l'écran est très grand */
        text-align: left;
        
    }
 
   }
/* réglages reservés aux petits écrans */
   @media only screen and (max-width: 900px) {
    p,ul,li{
    
         /* 16,5px au lieu de 18px */
         font-size: 16.5px;
    
       
       
    }
    pre{
        /* 12,5px au lieu de 14px */
        font-size: 12.5px; 
    }
 
   }



a{
    /* enlever le soulignage qui peut faire amateur*/
    text-decoration:none; 
    /* couleur bleue de google*/
    color:#1a0dab;
}

a:hover{
    /* rétablir le soulignage au hover */
    text-decoration:underline;
} 

a:visited{
    /* couleur purple de google*/
    color:#660099;
}


#logo{
    /* dimensionner l'image */
    /* étant donné qu'il peut s'agir d'un réglage individuel pour chaque image, on pourrait imaginer d'utiliser un inline style dans le html directement */
    height: 120px;
}





