 /* obtenir la police directement depuis le fichier CSS */
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html{
    /* empêche qu'il y ait des espaces blancs sans contenu ou contenant */
    /* height:100%; */
}
 /* DEBUG ONLY */
  /* 
*{
    border:1px solid black;
}
*/

body {
 
    /* éliminer la marge de 8px par défaut, pour ne pas avoir à la prendre en compte dans les calculs*/
    margin: 0px;

    /* style général du site, qui s'applique par défaut à tous les composants, sauf override */

    /* couleur du texte noire atténuée pour éviter trop de contraste */
    color: rgb(40, 42, 54);
     /* police à déterminer, on peut choisir sans-serif pour obtenir arial sur chrome et pour éviter times new roman*/
    font-family: sans-serif; 
}


.wrapper{
    
    /* délimitation du contenu dans une zone centrale de la page, afin que tout le contenu ne soit pas seulement d'un côté */
       /* empêche une largeur exagérée du contenu*/
       max-width: 900px;
       /* marge intérieure pour quel le contenu ne colle pas aux bords lorsqu'on est en mobile */
      padding: 0 20px;
      
    margin: 28px auto 40px auto;
 



     /* repère visuel (DEBUG ONLY)
    border: 1px solid black;  */
    
}

header{
     /* le header peut être optionnellement centré */
     /* décider si le logo va être centré également ou non */
     /* décider si le centrage est pour toutes les tailles ou seulement pour l'affichage mobile */
    text-align: center; 
}

hr{
    margin:27px 0px;
}


p,ul,li{
    /* style du corps du texte */

     /* police de corps du text au choix */
     font-family : Merriweather,serif; 

     /* 18px car 16px peut être déterminé comme légèrement trop petit */
     font-size: 18px;

    /* espace vertical entre chaque ligne doit être augmenté, sinon trop sérré */
    /* cela dépend de la police utilisée et peut aller de 1.5 à 2 */
    line-height: 1.7;
   
}



p{  
    /* l'espacement vertical par défaut des paragraphes n'est pas assez grand. Il faut davantage d'espace*/
    margin:26px 0px;

}

ul{
    /* la liste doit être davantage espacée/isolée par rapport aux paragraphes*/
    margin:24px 0px;
    /* la liste ne doit pas être trop décalée sur la droite sinon elle gâche de l'espace horizontal sur mobile. Par défaut est 40px*/
    padding-left: 20px;
}
 
li{
    /* Chaque puce doit être davantage espacée de ses puces voisines*/
    margin:4px 0px;
}


h1,h2,h3,h4,h5{
     /* si les titres sont contenus dans une liste, il faut combattre le style de la liste */
    font-family: sans-serif;
}
h3{
    /* si le corps est supérieur à 16px, on peut vouloir aggrandir aussi les titres de leur valeur par défaut. */
   font-size: 25px;
}

pre{
    /* style du texte préformaté, en particulier le code */
     /* par défaut, le texte ne va pas retourner à la ligne, puisque par définition, on veut garder le formattage */
    /* plus petit que le corps de texte normal */
    font-size: 14px;
    /* une scrollbar apparaît uniquement lorsque c'est nécessaire */
        overflow: auto;
    /* empêche le mot d'être coupé en deux (contrairement à break-word) */
        overflow-wrap: normal;
     /* empêche les espaces d'êtres supprimés (nécessaire pour la tabulation avec espace) */
        white-space: pre;
    
}

button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
  }





#archives ul, #archives ul li{
    padding:0px;
    margin:0px 0px;

 }
 #archives li{
    display:inline-block;width:49%

 }

 #archives h2{
    font-size:24px;

 }
 #archives a{
    font-family: sans-serif;
    font-size:16px;


 }







.credit{
     /* le crédit (nom de l'auteur et date) peuvent être mis en italique et dans une couleur moins contrastée */
    font-style:italic;
    color:rgb(163, 163, 158);

}

footer{
/* éventuellement renommer en copyright */

/* repousser le footer pour qu'il ne soit pas collé 
margin-top:20px;
*/


/* sur safari, laisser un peu de blanc après le footer necessite le trick suivant, pour contre les margin collapse */
display: inline-block;
margin-bottom: 20px;

}




/* réglages reservés aux grands écrans */
@media only screen and (min-width: 900px) {
    header{
        /* le centrage est moins nécessaire lorsque l'écran est très grand */
        text-align: left;
        
    }
 
   }
/* réglages reservés aux petits écrans */
   @media only screen and (max-width: 900px) {
    p,ul,li{
    
         /* 16,5px au lieu de 18px */
         font-size: 16.5px;
        

       
       
    }
    pre{
        /* 12,5px au lieu de 14px */
        font-size: 12.5px; 
    }
 

    #archives ul li{
       display:block;
       width:100%;
       

    }



   }



a{
    /* enlever le soulignage qui peut faire amateur*/
    text-decoration:none; 
    /* couleur bleue de google*/
    color:#1a0dab;

    font-family : Merriweather,serif; 

}


a:hover{
    /* rétablir le soulignage au hover */
    text-decoration:underline;
} 

a:visited{
    /* couleur purple de google*/
    color:#660099;
}


#logo{
    /* dimensionner l'image */
    /* étant donné qu'il peut s'agir d'un réglage individuel pour chaque image, on pourrait imaginer d'utiliser un inline style dans le html directement */
    height: 120px;
   

 
    
    
}

#logo:hover {
    -webkit-animation: tada 1s;
    animation: tada 1s;

  
   // animation-delay: 2s;
   
}


svg{
    width:14px;
    fill:rgb(179, 179, 177);
    
}
.info{
font-size: 15px;
color: rgb(179, 179, 177)
}

/* ANIMATION 
body {
 
     -webkit-animation: bounceInUp 1s;
     animation: bounceInUp 1s;
   
}
*/




